body {
  background-color: #e0f6fd;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0%;
}

.formulario {
  /* centralizando */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  /* criando borda e espaçando */
  border: 1px solid black;
  border-radius: 2cap;
  width: fit-content;
  height: fit-content;
  padding: 20px 90px 20px 90px;
  gap: 15px;

  /* deixando o tamanho da letra igual para todos os labels */
  font-size: 21px;

  /* outras coisas */
  background-color: #ffffff;
}

.nome {
  /* deixando o label e input um embaixo do outro */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.email {
  /* deixando o label e input um embaixo do outro */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.nascimento {
  /* deixando o label e input um embaixo do outro */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}